*{
    padding: 0%;
    margin: 0px;
}
body{
    background-color: rgb(255, 231, 196);
    background-image: url(bg1.jpg);
    background-size: cover;
}


h4{
    position: absolute;

height: 102px;
left: 550px;
top: 50px;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 60px;
}
tr{
    padding: 25px;
    width: 100px;
    height: 30px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
   

}
form{
    position: absolute;
width: 500px;
height: 600px;
left: 470px;
top: 150px;


}


form{
    background-color: rgb(0, 38, 82);
    background-blend-mode: multiply;
    align-items:left;
    padding: 40px;
    height: 720px;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
    
}
main{
    padding: -20px;
}
div.nm{
    margin-left: -330px;
    padding: 20px;
    font-size: 25px;
   color: white;

}

div.name input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
}
div.dsn{
    margin-left:-270px;
    padding: 20px;
    color: white;
    font-size: 25px;
}
div.dat input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
}
div.pn{
    margin-left:-280px;
    padding: 20px;
    color: white;
    font-size: 25px;
}
div.pno input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
}
div.ml{
    margin-left:-300px;
    padding: 20px;
    color: white;
    font-size: 25px;
}
div.mli input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
}
div.id{
    margin-left:-270px;
    padding: 20px;
    color: white;
    font-size: 25px;
}
div.did input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
}
div.ps{
    margin-left:-300px;
    padding: 20px;
    color: white;
    font-size: 25px;
}
div.psa input{
    border-radius: 5px;
    width: 400px;
    height: 30px;
}
div.login{
    padding: 20px;
    
}
div.login input{

    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;

}
div.login input:hover{
    background-color: rgb(170, 170, 170);
}
.tt{
    
    align-items:right;

}
a.fn{
    color: aliceblue;
}
.fp{
    width: 50%;
    align-items: center;
    height: 30px;
    color: aliceblue;
    left: 500px;
}
div.fp{
    padding: 30px;
    margin-left: 240px;
}
input{
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    font-family: 'Times New Roman', Times, serif;
    
}

a.fn:hover{
    color: gray;
}
div.em{
    width: 100%;
    height: 200px;
    

}
div.nxt input{
    width: 130px;
    height: 30px;
    border-radius: 10px;
}
div.nxt input:hover{
    background-color: gray;
}
div.rr{
    height: 100px;
}
@media(max-width:800px) and (min-width:390px) {
    form{
        align-items: center;
        left:10%;
        padding-right: 10%;
        background-color: rgb(0, 38, 82);
        background-blend-mode: multiply;
        
        padding: 5%;
        width: 400px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 10px;
        
    }
    
    
     body{
        background-color: rgb(255, 73, 73);
        background-image: url(bg1.jpg);
        background-repeat: no-repeat;
    }
    h4{
        position: absolute;


left: 25%;
top: 10%;



font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 35px;
    }
    .fp{
        width: 50%;
        align-items: center;
        height: 30px;
        color: aliceblue;
        left: 500px;
    }
    div.fp{
        padding: 30px;
        margin-left: 200px;
    }

    
}